#navbar-transition-maple {
  display: none;
}

/* Hide dark mode toggle button in sidebar */
#sidebar button[aria-label="Toggle dark mode"] {
  display: none !important;
}

/* Change sidebar background color */
#sidebar {
  background-color: #1C1B1B !important;
}

footer {
  margin-top: 2rem;
}